*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    height: 300px;
    background-color: rgb(165, 15, 171);
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin: 10px;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.container{
    display: grid;


    grid-template-columns: repeat(1, 200px);
    grid-auto-columns: 30%;
    height: 100vh;

    grid-template-rows:repeat(1, 100px);
    grid-auto-rows: 200px;

    justify-content: start;

    align-content: center;
    align-items: start;
    column-gap: 25px;
    row-gap: 30px; 
}