body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3bbbc;
    color: rgb(71, 34, 59);
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    background-color: rgb(248, 175, 209);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
}

.user-card:hover {
    transform: translateY(-5px);
}

.user-card h2 {
    margin-top: 0;
    color: #333;
}

.user-card p {
    margin: 5px 0;
    color: #666;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #6a89cc;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
